$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

$first-level-border: #45b6ca;
$second-level-border: #298c9d;
$third-level-border: #126a79;
$light-blue: #45b6ca;
$medium-blue: #41a2b3;
$medium-grey: #999;
$panel-background: #45b6ca;


body {
	font-family: 'Raleway', sans-serif;
	font-size:100%;
    line-height:1.125em;
    color: $medium-grey;
    padding: 0;

	img { 
	  max-width: 100%;
	  height: auto;
	}
	a {
		color: $light-blue;
		text-decoration: none;
		border-bottom: 1px dotted $light-blue;

		&:hover {
			color: $medium-blue;
			text-decoration: none;
		}
	}


	.container-fluid {

		nav#primary {
			border-left: 15px solid $first-level-border;
			padding: 0 15px;

				h1 {
					font-family: 'Raleway', sans-serif;
					color: $medium-grey;
					float: left;
					margin: 0;
					padding: 2% 0%;
					font-size: .95em;
					font-weight: 400;

					em {
						color: $light-blue;
						font-style: normal;
					}
				}
				
				ul {
					float: right;
					font-size: .8em;
					font-weight: 300;
					margin: 0;
					padding-top: 4.5%;
					list-style: none;

					li {
						float: left;
						margin-left: 20px;

						a {
							color: $medium-grey;
							border-bottom: none;
						}
					}
				}
			

		}
		header {
			border-left: 15px solid $first-level-border;
			background: transparent url('../images/header-bg.png') center bottom no-repeat;
			padding: 15px;

			h2 {
				color: $light-blue;
				text-align: center;
				font-size: 3.2em;
				letter-spacing: .15em;
				font-weight: 400;
				text-transform: uppercase;
				margin: 10px 0px;
			}

			p {
				font-size: 1em;
				line-height: 1.8em;
				text-align: left;
				font-weight: 400;
				padding: 0;
				margin: 20px 0 70px 0;

				a {
					color: $light-blue;
					border-bottom: 1px dotted $light-blue;

					&:hover {
						color: $medium-blue;
						text-decoration: none;
					}
				}
			}
		}
		nav.carousel {
			overflow: hidden;
			border-left: 15px solid $second-level-border;
			margin: 0 auto;

			div.pagination-wrapper {
				width: 300px;
				margin: 0 auto;
			}

			ul {
				list-style: none;
				padding: 15px 0;
				margin: 0;

				li {
					margin-right: 10px;
					padding-bottom: 20px;

					a {
						display: block;
						width: 65px;
						height: 70px;
						background: transparent url('../images/carousel-sprite.png') top left no-repeat;
						background-size: cover;
                		-moz-background-size: cover;  /* Firefox 3.6 */
                		background-position: center;  

						span {
							display: block;
							padding-top: 76px;
							text-align: center;
						}
					}

					&.lauren {
						background-position: 0 0;

						&.active {
							a {
								background-position: 0 -149px;	
							}
							
						}
					}

					&.susan {
						a {
							background-position: 0 -140px;
						}

						&.on {
							a {
								background-position: 0 -210px;	
							}
							
						}
					}
					&.aaron {
						a {
							background-position: 0 -286px;
						}

						&.on {
							a {
								background-position: 0 -350px;	
							}
							
						}
					}
					&.kristie {
						margin-right: 0;

						a {
							background-position: 0 -432px;
						}

						&.on {
							a {
								background-position: 0 -1022px;	
							}
							
						}
					}
				}
			}
		}
		aside {
			border-left: 15px solid $second-level-border;
			background: transparent url('../images/paper-texture.png') repeat;

			p {
				text-align: center;
				padding: 15px 0;
				margin: 0 2%;
				font-size: 1.2em;
				line-height: 1.3em;
			}
		}
		section#join-us {
			border-left: 15px solid $third-level-border;
			background: transparent url('../images/blue-hatch.gif') repeat top left;

			padding: 60px 0;

			div.inner {
				background: transparent url('../images/join-icon.png') no-repeat 120px 0;
				color: #666;
				padding: 0 125px 0 360px;

				h3 {
					font-weight: normal;

					em {
						font-weight: bold;
						font-style: normal;
					}
				}

				p {
					font-size: 1.5em;
					line-height: 1.5em;
					padding: 0 8%;
					margin-bottom: 8.7%;
				}

				form {
					input {
						color: $medium-grey;
						width: 300px;
						padding: 10px;
						font-size: 1.5em;
						line-height: 1.5em;
					}
					.btn {
						color: #fff;
						height: 40px;
						font-weight: 100;
						font-size: 1.5em;
						padding: 0 45px;
						background-color: #45b6ca;
						background-image: none;
						border: none;
					}
				}
			}
		}

		footer {
			padding: 30px 9%;
			margin-bottom: 100px;
			border-left: 15px solid $third-level-border;

			p {
				font-size: 1.2em;
				font-weight: 200;

				a {
					margin-left: 25px;
				}
			}
		}
	}
}



/* Large desktop */
@media (min-width: 980px) {
	
	body {
		.container-fluid {
			max-width: 1200px;
			margin: 0 auto;

			nav#primary {
				background: transparent url('../images/nav-btm-border.gif') repeat-x bottom left;

				h1 {
					padding: 1.7% 8%;
					font-size: 2em;
					font-weight: 400;
				}

				ul {
					margin: 2.5% 8% 0 0;
					padding: 0;
					font-size: 1.1em;

					li {
						padding-left: 60px;
					}
				}

			}
			header {
				background-position: top left;
				
				h2 {
					font-size: 170px;
					line-height: 40.29px;
					font-weight: 200;
					margin: 90px 60px 9% 60px;
				}

				p {
					font-size: 2.2em;
					line-height: 1.6em;
					padding: 0 8%;
					margin-bottom: 8%;

					a {
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			nav.carousel {
				overflow: hidden;
				border-left: 15px solid $second-level-border;
				margin: 0 auto;

				div.pagination-wrapper {
					display: none;
					width: 640px;
					margin: 0 auto;
				}

				div.carousel {
					margin: 0;
					padding: 0;
					min-height: 400px;

					div.carousel-head {
						background: transparent url('../images/paper-texture.png') repeat;	
						height: 240px;


						ol.carousel-indicators {
							width: 100%;
							top: 0;
							left: 20%;
							margin: 40px 0;
						

							li {
								position: relative;
								text-indent: 0;
								width: 130px;
								height: 140px;
								margin-right: 40px;
								cursor: pointer;
								background: transparent url('../images/carousel-sprite.png') top left no-repeat;
								
								span {
									display: block;
									text-align: center;
									font-size: 1.6em;
									margin-top: 150px;
								}

								&.active {
										&:after {
										bottom:-43%;
										border: solid transparent;
										content: " ";
										height: 0;
										width: 0;
										position: absolute;
										pointer-events: none;
									}

									&:after {
										border-color: rgba(69, 182, 202, 0);
										border-bottom-color: #45b6ca;
										border-width: 10px;
										left: 5%;
										margin-left: 53px;
									}
								}

								&.lauren {
									background-position: 0 0;

									&.active {
										background-position: 0 -147px;

										&:after {
											left: 0%;
										}
									}

								}

								&.susan {
									background-position: 0 -290px;

									&.active {
										background-position: 0 -437px;

										&:after {
											left: 0%;
										}
									}
								}
								&.aaron {
									background-position: 0 -582px;

									&.active {
										background-position: 0 -729px;

										&:after {
											left: 2%;
										}	
									}
								}
								&.kristie {
									margin-right: 0;
									background-position: 0 -873px;

									&.active {
										background-position: 0 -1020px;
										
										&:after {
											left: 1%;
										}
									}
								}
							}
						}


					}

					
					div.carousel-inner {
						position: relative;
						background-color: $panel-background;
						color: #fff;

						h3 {
							color: #666;
							font-size: 2.8em;
							font-weight: 400;
							margin-top: 0;
							padding-top: 40px;
						}

						.item {
							float: left;
							width: 100%;
							padding-left: 10%;
							font-size: 1.1em;
							background: transparent url('../images/bg-lauren.png') no-repeat 80% 0;

							em {
								font-size: 1.6em;
								font-style: normal;
								font-weight: 500;
							}

							ul {
								font-size: 1em;
								padding: 20px 0 51px;
								
								li {
									width: 56%;
									line-height: 1.4em;
									font-weight: 300;
									margin-bottom: 15px;
									padding-bottom: 0;
								}
							}

							&.susan {
								background-image: url('../images/bg-susan.png');
							}
							&.aaron {
								background-image: url('../images/bg-aaron.png');
							}
							&.kristie {
								background-image: url('../images/bg-kristie.png');
							}
						}
					}

					.carousel-control {
						top: 65%;
						background: transparent;
						border: none;
						font-size: 280px;
						opacity: .50%;
						width: 100px;
						height: 100px;

						&.left {
							left: 0;
						}
						&.right {
							right: 0;
						}
					}
				}

				ul {
					float: left;
					list-style: none;
					padding: 50px 0;
					margin: 0;

					li {
						float: left;
						margin-right: 40px;
						padding-bottom: 20px;

						a {
							display: block;
							width: 130px;
							height: 140px;
							background: transparent url('../images/carousel-sprite.png') top left no-repeat;
							
							span {
								display: block;
								padding-top: 140px;
								text-align: center;
							}
						}

						&.lauren {
							a {
								background-position: 0 0;
							}

							&.on {
								a {
									background-position: 0 -146px;	
								}
								
							}
						}

						&.susan {
							a {
								background-position: 0 -292px;
							}

							&.on {
								a {
									background-position: 0 -438px;	
								}
								
							}
						}
						&.aaron {
							a {
								background-position: 0 -584px;
							}

							&.on {
								a {
									background-position: 0 -730px;	
								}
								
							}
						}
						&.kristie {
							margin-right: 0;

							a {
								background-position: 0 -876px;
							}

							&.on {
								a {
									background-position: 0 -1022px;	
								}
								
							}
						}
					}
				}
			}
			aside {
			border-left: 15px solid $second-level-border;
			background: transparent url('../images/paper-texture.png') repeat;

			p {
				text-align: center;
				padding: 15px 0;
				margin: 0 17%;
				font-size: .95em;
				line-height: 1em;
			}
		}
		}
	}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
	header {
		
		h2 {
		}

		p {
			border: 1px solid red;
			font-size: 2.2em;
			line-height: 1.6em;
			padding: 0 8%;
			margin-bottom: 8%;

			a {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}


}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
}
 
/* Landscape phones and down */

@media (max-width: 480px) {



}
