$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

$first-level-border: #45b6ca;
$second-level-border: #298c9d;
$third-level-border: #126a79;
$light-blue: #45b6ca;
$medium-blue: #45b6ca;
$medium-grey: #999;
$panel-background: #45b6ca;


body {
	font-family: 'Raleway', sans-serif;
	font-size:100%;
    line-height:1.125em;
    color: $medium-grey;
    padding: 0;

	img { 
	  max-width: 100%;
	  height: auto;
	}


	.container-fluid {

		nav#primary {
			border-left: 15px solid $first-level-border;
			padding: 0 15px;

				h1 {
					font-family: 'Raleway', sans-serif;
					color: $medium-grey;
					float: left;
					margin: 0;
					padding: 5px 0;
					font-size: .95em;
					font-weight: 400;

					em {
						color: $medium-blue;
						font-style: normal;
					}
				}
				
				ul {
					float: right;
					font-size: .8em;
					font-weight: 400;
					margin: 15px 0 0 0;
					list-style: none;

					li {
						float: left;
						margin: 0 0 0 11px;

						a {
							color: $medium-grey;
						}
					}
				}
			

		}
		header {
			border-left: 15px solid $first-level-border;
			background: transparent url('../images/header-bg.png') center bottom no-repeat;
			padding: 15px;

			h2 {
				color: $light-blue;
				text-align: center;
				font-size: 3.2em;
				letter-spacing: .15em;
				font-weight: 400;
				text-transform: uppercase;
				margin: 10px 0px;
			}

			p {
				font-size: 1em;
				line-height: 1.8em;
				text-align: left;
				font-weight: 400;
				padding: 0;
				margin: 20px 0 70px 0;

				a {
					color: $medium-blue;
					border-bottom: 1px dotted $medium-blue;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		nav.carousel {
			border-left: 15px solid $second-level-border;
			margin: 0 auto;

			div.pagination-wrapper {
				width: 300px;
				margin: 0 auto;
			}

			ul {
				float: left;
				list-style: none;
				padding: 15px 0;
				margin: 0;

				li {
					float: left;
					margin-right: 10px;
					padding-bottom: 20px;

					a {
						display: block;
						width: 65px;
						height: 70px;
						background: transparent url('../images/carousel-sprite.png') top left no-repeat;
						background-size: cover;
                		-moz-background-size: cover;  /* Firefox 3.6 */
                		background-position: center;  

						span {
							display: block;
							padding-top: 76px;
							text-align: center;
						}
					}

					&.lauren {
						background-position: 0 0;

						&.active {
							a {
								background-position: 0 -148px;	
							}
							
						}
					}

					&.susan {
						a {
							background-position: 0 -140px;
						}

						&.on {
							a {
								background-position: 0 -210px;	
							}
							
						}
					}
					&.aaron {
						a {
							background-position: 0 -286px;
						}

						&.on {
							a {
								background-position: 0 -350px;	
							}
							
						}
					}
					&.kristie {
						margin-right: 0;

						a {
							background-position: 0 -432px;
						}

						&.on {
							a {
								background-position: 0 -1022px;	
							}
							
						}
					}
				}
			}
		}
	}
}



/* Large desktop */
@media (min-width: 980px) {
	
	body {
		.container-fluid {
			max-width: 1200px;
			margin: 0 auto;

			nav#primary {
				padding: 0 130px;

				h1 {
					padding: 15px 0;
					font-size: 32px;
					line-height: 28px;
					font-weight: 400;
				}

				ul {
					margin-top: 20px;
					font-size: 18px;

					li {
						margin-left: 60px;
					}
				}

			}
			header {
				background-position: top left;
				padding-bottom: 5px;
				
				h2 {
					font-size: 170px;
					line-height: 40.29px;
					font-weight: 200;
					margin: 80px 60px 100px 60px;
				}

				p {
					font-size: 2em;
					line-height: 1.3em;
					text-align: left;
					font-size: 37px;
					line-height: 55px;
					padding: 0 128px 0px 128px;

					a {

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			nav.carousel {
				border-left: 15px solid $second-level-border;
				margin: 0 auto;

				div.pagination-wrapper {
					display: none;
					width: 640px;
					margin: 0 auto;
				}

				div.carousel {
					margin: 0;
					padding: 0;
					min-height: 400px;

					div.carousel-head {
						background: transparent url('../images/paper-texture.png') repeat;	
						height: 227px;


						ol.carousel-indicators {
							width: 100%;
							top: 0;
							left: 20%;
							margin: 40px 0;
						

							li {
								width: 130px;
								height: 140px;
								margin-right: 40px;
								cursor: pointer;
								background: transparent url('../images/carousel-sprite.png') top left no-repeat;
								
								&.lauren {
									background-position: 0 0;

									&.active {
										background-position: 0 -147px;
									}
								}

								&.susan {
									background-position: 0 -290px;

									&.active {
										background-position: 0 -437px;
									}
								}
								&.aaron {
									background-position: 0 -582px;

									&.active {
										background-position: 0 -729px;	
									}
								}
								&.kristie {
									margin-right: 0;
									background-position: 0 -873px;

									&.active {
										background-position: 0 -1020px;
										
									}
								}
							}
						}


					}

					
					div.carousel-inner {
						min-height: 400px;
						background-color: $panel-background;
						color: #fff;

						h3 {
							color: #666;
							font-size: 2.8em;
							font-weight: 400;
							padding-top: 40px;
						}

						.item {
							width: 70%;
							padding-left: 20%;
							font-size: 1.1em;

							em {
								font-size: 1.8em;
								font-style: normal;
							}

							ul {
								li {
									margin-bottom: 16px;
								}
							}
						}
					}

					.carousel-control {
						top: 65%;
						background: transparent;
						border: none;
						font-size: 280px;
						opacity: .50%;
						width: 100px;
						height: 100px;

						&.left {
							left: 0;
						}
						&.right {
							right: 0;
						}
					}
				}

				

				ul {
					float: left;
					list-style: none;
					padding: 50px 0;
					margin: 0;

					li {
						float: left;
						margin-right: 40px;
						padding-bottom: 20px;

						a {
							display: block;
							width: 130px;
							height: 140px;
							background: transparent url('../images/carousel-sprite.png') top left no-repeat;
							
							span {
								display: block;
								padding-top: 140px;
								text-align: center;
							}
						}

						&.lauren {
							a {
								background-position: 0 0;
							}

							&.on {
								a {
									background-position: 0 -146px;	
								}
								
							}
						}

						&.susan {
							a {
								background-position: 0 -292px;
							}

							&.on {
								a {
									background-position: 0 -438px;	
								}
								
							}
						}
						&.aaron {
							a {
								background-position: 0 -584px;
							}

							&.on {
								a {
									background-position: 0 -730px;	
								}
								
							}
						}
						&.kristie {
							margin-right: 0;

							a {
								background-position: 0 -876px;
							}

							&.on {
								a {
									background-position: 0 -1022px;	
								}
								
							}
						}
					}
				}
			}
		}
	}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	body {
		padding: 0;

		.container-fluid {
			padding: 0;

			nav#primary {
				border-left: 10px solid $first-level-border;
				padding: 0 130px;

				h1 {
					float: left;
					margin: 0;
					padding: 15px 0;
					font-size: 22px;
					line-height: 18px;
					font-weight: 400;
					font-family: 'Raleway', sans-serif;
					font-style: normal;
					color: $medium-grey;

					em {
						color: $medium-blue;
						font-style: normal;
					}
				}

				ul {
					float: right;
					margin-top: 16px;
					font-size: 18px;
					line-height: 28px;
					font-weight: 200;
					margin-bottom: 0;
					list-style: none;

					li {
						float: left;
						margin-left: 65px;

						a {
							color: $medium-grey;
						}
					}
				}

			}
			header {
				border-left: 10px solid $first-level-border;
				background: transparent url('../images/header-bg.png') top left no-repeat;
				
				h2 {
					color: $light-blue;
					text-align: center;
					font-size: 150px;
					line-height: 20.29px;
					font-weight: 200;
					text-transform: uppercase;
					letter-spacing: 12px;
					margin: 80px 60px 100px 60px;
				}

				p {
					font-size: 20px;
					line-height: 1.3em;
					text-align: left;
					font-weight: 200;
					font-size: 37px;
					line-height: 55px;
					padding: 0 128px 110px 128px;

					a {
						color: $medium-blue;
						border-bottom: 1px dotted $medium-blue;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
}
 
/* Landscape phones and down */

@media (max-width: 480px) {



}
